@import "./assets/fonts/fonts.css";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: "Cronos Pro Caption", "Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  /* ^^ these values mess up tailwind light dark mode toggle,
  because it will load these values regardless of what mode its on*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --breakpoint-xs: 30rem;
}

@theme {
  
  --color-brandBlue-600: #1B699A;
  --color-brandBlue-800: #1E376C;
  --color-brandBlue-700: hsl(221, 57%,  37%); /*made this up, darker shade of above*/
  --color-brandBlue-900: hsl(221, 57%,  17%); /*made this up, darker shade of above*/
  --color-brandTeal-500: #00A79D;
  --color-brandTeal-700: #05839D;
  --color-brandTeal-800: hsl(190.26, 93.83%, 25%); /*made this up, darker shade of above*/

  --color-brandBlack: #333333;

  /*porting hashir pages*/
  --color-brandTeal-old: #03746d;
  --color-brandBlack-old: #4c4c4c;
}

@layer base {
  a {
    font-weight: 500;
    color: var(--color-brandTeal-700);
  }
  a:hover {
    color: var(--color-brandTeal-500);
  }
  
  button {
    /* background-color: var(--color-brandBlue-600);
    color: white; */
    cursor: pointer;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Cronos Pro Display", "Roboto", -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 700;
  }
}



.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*below is no longer needed, read utility calss below*/
.prose-black {
  --tw-prose-body: oklch(0.145 0 0);
  --tw-prose-headings: oklch(0.145 0 0);
  --tw-prose-lead: oklch(0.145 0 0);
  --tw-prose-links: oklch(0.145 0 0);
  --tw-prose-bold: oklch(0.145 0 0);
  --tw-prose-counters: oklch(0.145 0 0);
  --tw-prose-bullets: oklch(0.145 0 0); /* Ensures list markers are black */
  --tw-prose-quotes: oklch(0.145 0 0);
}

/*New, below is how to color each typography color dynamically :)
Very nice find so we dont have to copy and paste above code everytime we want a new color*/
@utility prose-color-* {
  --tw-prose-body: --value([*]);
  --tw-prose-headings: --value([*]);
  --tw-prose-lead: --value([*]);
  --tw-prose-links: --value([*]);
  --tw-prose-bold: --value([*]);
  --tw-prose-counters: --value([*]);
  --tw-prose-bullets: --value([*]);
  --tw-prose-hr: --value([*]);
  --tw-prose-quotes: --value([*]);
  --tw-prose-quote-borders: --value([*]);
  --tw-prose-captions: --value([*]);
  --tw-prose-code: --value([*]);
  --tw-prose-pre-code: --value([*]);
  --tw-prose-pre-bg: --value([*]);
  --tw-prose-th-borders: --value([*]);
  --tw-prose-td-borders: --value([*]);
  --tw-prose-invert-body: --value([*]);
  --tw-prose-invert-headings: --value([*]);
  --tw-prose-invert-lead: --value([*]);
  --tw-prose-invert-links: --value([*]);
  --tw-prose-invert-bold: --value([*]);
  --tw-prose-invert-counters: --value([*]);
  --tw-prose-invert-bullets: --value([*]);
  --tw-prose-invert-hr: --value([*]);
  --tw-prose-invert-quotes: --value([*]);
  --tw-prose-invert-quote-borders: --value([*]);
  --tw-prose-invert-captions: --value([*]);
  --tw-prose-invert-code: --value([*]);
  --tw-prose-invert-pre-code: --value([*]);
  --tw-prose-invert-pre-bg: --value([*]);
  --tw-prose-invert-th-borders: --value([*]);
  --tw-prose-invert-td-borders: --value([*]);
}